.DS_Store
node_modules
.worktrees
.sst
.env
.env.local
.env.production
.idea
.vscode
*~
openapi.json
playground
tmp
dist
.turbo
**/.serena
.serena/
/result
refs
Session.vim
opencode.json
a.out

# Authentication & Security
session.json
*.pem
*.key
.cerebras/
